<%= form_with(model: investor, local: true) do |form| %>
  <% if investor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investor.errors.count, "error") %> prohibited this investor from being saved:</h2>

      <ul>
      <% investor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob, :start_year=>1930, :end_year=>2015 %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :street_address %>
    <%= form.text_field :street_address %>
  </div>

  <div class="field">
    <%= form.label :state_address %>
    <%= form.text_field :state_address %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
