<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @investor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @investor.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @investor.dob %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @investor.phone %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @investor.street_address %>
</p>

<p>
  <strong>State address:</strong>
  <%= @investor.state_address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @investor.zip_code %>
</p>

<%= link_to 'Edit', edit_investor_path(@investor) %> |
<%= link_to 'Back', investors_path %>
